<?xml version="1.0" encoding="utf-8"?>
<manifest package="tk.giesecke.myhomecontrol"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".Cl_MyHomeControl"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".Cl_Utilities"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name=".solar.Cl_ChartHelper"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity android:name=".solar.WiCo_SolarPanel">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<receiver
			android:name=".BR_AutoStart"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name=".BR_Events"
			android:enabled="true">
		</receiver>
		<receiver android:name=".security.Wi_SecAlarm">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
				<action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_alarm"/>
		</receiver>
		<receiver android:name=".solar.Wi_SolarPanel">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_solar_panel"/>
		</receiver>
		<receiver android:name=".security.Wi_SecLight">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_light"/>
		</receiver>
		<receiver android:name=".aircon.Wi_Aircon">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_aircon"/>
		</receiver>
		<receiver android:name=".security.Wi_PanicButton">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_panic"/>
		</receiver>
		<receiver android:name=".lights.Wi_LightCtrl">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_light_ctrl"/>
		</receiver>

		<service
			android:name=".security.WiCl_SecAlarm"
			android:exported="false">
		</service>
		<service
			android:name=".Sv_StartBackgroundServices"
			android:enabled="true">
		</service>
		<service
			android:name=".solar.Sv_SolarSyncDB"
			android:exported="false">
		</service>
		<service
			android:name=".security.WiCl_SecLight"
			android:exported="false">
		</service>
		<service
			android:name=".aircon.WiCl_Aircon"
			android:exported="false">
		</service>
		<service
			android:name=".Sv_MessageListener"
			android:enabled="true"
			android:exported="false">
		</service>
		<service
			android:name=".security.WiCl_PanicButton"
			android:exported="false">
		</service>
		<service
			android:name=".devices.Sv_CheckAvailDevices"
			android:enabled="true">
		</service>
		<service
			android:name=".lights.WiCl_LightCtrl"
			android:exported="false">
		</service>

		<receiver android:name=".security.Wi_SecCam">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_video"/>
		</receiver>

		<activity
			android:name=".security.Cl_SecCamViewer"
			android:label="@string/title_activity_sec_cam_viewer"
			android:parentActivityName=".Cl_MyHomeControl"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="tk.giesecke.myhomecontrol.Cl_MyHomeControl"/>
		</activity>

		<receiver android:name=".lights.Wi_ByLightCtrl">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_by_light_ctrl_info"/>
		</receiver>

		<service
			android:name=".lights.WiCl_ByLight"
			android:exported="false">
		</service>
	</application>

</manifest>
