<?xml version="1.0" encoding="utf-8"?>
<manifest package="tk.giesecke.myhomecontrol"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".MyHomeControl"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".Utilities"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name=".solar.ChartHelper"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity android:name=".solar.SolarPanelWidgetHelper">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<receiver
			android:name=".AutoStart"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name=".Events"
			android:enabled="true">
		</receiver>
		<receiver android:name=".security.SecAlarmWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
				<action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_alarm"/>
		</receiver>
		<receiver android:name=".solar.SolarPanelWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_solar_panel"/>
		</receiver>
		<receiver android:name=".security.SecLightWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_light"/>
		</receiver>
		<receiver android:name=".aircon.AirconWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_aircon"/>
		</receiver>
		<receiver android:name=".security.PanicButtonWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_panic"/>
		</receiver>
		<receiver android:name=".lights.BedRoomLightWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_light_ctrl"/>
		</receiver>

		<service
			android:name=".security.SecAlarmWidgetHelper"
			android:exported="false">
		</service>
		<service
			android:name=".StartBackgroundServices"
			android:enabled="true">
		</service>
		<service
			android:name=".solar.SolarSyncDataBase"
			android:exported="false">
		</service>
		<service
			android:name=".security.SecLightWidgetHelper"
			android:exported="false">
		</service>
		<service
			android:name=".aircon.AirconWidgetHelper"
			android:exported="false">
		</service>
		<service
			android:name=".MessageListener"
			android:enabled="true"
			android:exported="false">
		</service>
		<service
			android:name=".security.PanicButtonWidgetHelper"
			android:exported="false">
		</service>
		<service
			android:name=".devices.CheckAvailDevices"
			android:enabled="true">
		</service>
		<service
			android:name=".lights.BedRoomLightWidgetOn"
			android:exported="false">
		</service>
		<service
			android:name=".lights.BedRoomLightWidgetOff"
			android:exported="false">
		</service>
		<service
			android:name=".lights.BedRoomLightWidgetDim"
			android:exported="false">
		</service>

		<receiver android:name=".security.SecCamWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_sec_video"/>
		</receiver>

		<activity
			android:name=".security.SecCamViewer"
			android:label="@string/title_activity_sec_cam_viewer"
			android:parentActivityName=".MyHomeControl"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="tk.giesecke.myhomecontrol.MyHomeControl"/>
		</activity>

		<receiver android:name=".lights.BackYardLightWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/wi_by_light_ctrl_info"/>
		</receiver>

		<service
			android:name=".lights.BackYardLightWidgetHelper"
			android:exported="false">
		</service>
	</application>

</manifest>
