<?xml version="1.0" encoding="utf-8"?>
<manifest package="tk.giesecke.myhomecontrol"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<activity
			android:name=".MyHomeControl"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".Utilities"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name=".ChartHelper"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<receiver
			android:name=".AutoStart"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

		<receiver
			android:name=".EventReceiver"
			android:enabled="true">
		</receiver>

		<receiver android:name=".SecurityWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
				<action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/security_widget_info"/>
		</receiver>

		<service
			android:name=".SecurityWidgetClick"
			android:exported="false">
		</service>
		<service
			android:name=".StartBackgroundServices"
			android:exported="false">
		</service>

		<service
			android:name=".SolarSyncDBService"
			android:exported="false">
		</service>

		<receiver android:name=".SPwidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/spwidget_info"/>
		</receiver>

		<activity android:name=".SPwidgetConfigureActivity">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<receiver android:name=".LightWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/light_widget_info"/>
		</receiver>

		<service
			android:name=".LightWidgetClick"
			android:exported="false">
		</service>

		<receiver android:name=".AirconWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/aircon_widget_info"/>
		</receiver>

		<service
			android:name=".AirconWidgetClick"
			android:exported="false">
		</service>

		<service
			android:name=".MessageListener"
			android:enabled="true"
			android:exported="false">
		</service>

		<receiver android:name=".PanicButton" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/panic_button_info" />
		</receiver>

		<service
			android:name=".PanicButtonClick"
			android:exported="false" >
		</service>

	</application>

</manifest>
